.about-section {
  display: flex;
  justify-content: space-between;
  padding: 15rem 10rem 0 10rem;
}

.about-description {
  max-width: 50%;
  font-size: 2.3rem;
}

.about-pic {
  background-image: url("../me_at_dark.jpeg");
  background-repeat: no-repeat;
  height: 55rem;
  width: 100%;
  background-position: center;
  background-size: contain;
}

@media (max-width: 1000px) {
  .about-section {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 7rem;
  }

  .about-description, .about-pic {
    max-width: 100%;
    padding-bottom: 10rem;
  }

  .about-pic {
    background-size: contain;
  }
}
