* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  background-color: #000;
  color: #fff;
}

.header_header,
.header_left,
.header_main,
.content-wrapper,
.content,
.svg {
  display: flex;
}

.header-wrapper {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 2;
}

.header_header {
  justify-content: space-between;
  height: 10rem;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 4rem;
}

.header_left {
  gap: 7rem;
  align-items: center;
}

.header_left a {
  color: #fff;
  text-decoration: none;
}

.header_main {
  gap: 1rem;
}

.header_main a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.header_main a span {
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 1rem;
}

.header_main a span:hover {
  background-color: #3b3b3b;
}

.navigation-menu {
  display: flex;
  gap: 3rem;
}

.navigation-menu li {
  list-style-type: none;
  cursor: pointer;
}

.under-construction {
  font-size: 2.5rem;
  text-align: center;
  position: relative;
  top: 9rem;
  color: #a6a6a6;
}

.content-wrapper {
  justify-content: center;
  padding-top: 10rem;
  min-height: 80rem;
}

.main_main {
  position: absolute;
  min-height: 70rem;
  width: 80vw;
  border: 0.1px solid #3f3f3f;
}

.content {
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10rem;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

.content h1 {
  font-size: 4rem;
  color: #e3e3e3;
}

.content p {
  width: 40rem;
  font-size: 2rem;
  text-align: center;
  color: #7f7f7f;
  padding-top: 2rem;
  line-height: 3rem;
}

.svg {
  justify-content: center;
  margin-top: 20rem;
}

footer {
  padding: 10rem;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.social-media a {
  height: 10rem;
  text-align: center;
  align-content: center;
}

.social-media a svg {
  width: 5rem;
}

.rights-reserved {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
  padding: 5rem 4rem 4rem;
}

@media (max-width: 1000px) {
  .header_header {
    display: none;
  }

  .hidden_header {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    width: 85rem;
    align-items: center;
    margin: 0 auto;
    padding: 8rem 4rem 2rem 4rem;
  }

  .hidden_header a {
    color: white;
    text-decoration: none;
  }
  
  .header_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 10rem;
    height: 10rem;
    /* border: 1px solid #484848; */
    border-radius: 50%;
    cursor: pointer;
  }

  .lines {
    max-width: 7rem;
    height: 0.2rem;
    background-color: #666;
  }
}

@media (min-width: 1000px) {
  .hidden_header {
    display: none;
  }
}
