* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  background-color: #000;
  color: #fff;
}

.header_header, .header_left, .header_main {
  display: flex;
}

.header_header {
  justify-content: space-between;
  height: 10rem;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 4rem;
}

.header_left {
  gap: 7rem;
  align-items: center;
}

.header_left a {
  color: #fff;
  text-decoration: none;
}

.header_main {
  gap: 1rem;
}

.header_main a {
  cursor: pointer;
}

.header_main a span {
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 1rem;
}

.navigation-menu {
  display: flex;
  gap: 3rem;
}

.navigation-menu li {
  list-style-type: none;
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  min-height: 80rem;
}

.main_main {
  position: absolute;
  min-height: 70rem;
  width: 80vw;
  border: 0.1px dashed #3f3f3f;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10rem;
}

.content h1 {
  font-size: 4rem;
  color: #e3e3e3;
}

.content p {
  width: 40rem;
  font-size: 2rem;
  text-align: center;
  color: #6d6d6d;
  padding-top: 2rem;
  line-height: 3rem;
}

.asterisk {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background-color: #007393;
  margin: 30rem auto 0 auto;
}
