* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  background-color: #000;
  color: #fff;
}

.header_header, .header_left, .header_main {
  display: flex;
}

.header_header {
  justify-content: space-between;
  height: 10rem;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 4rem;
}

.header_left {
  gap: 7rem;
  align-items: center;
}

.header_left a {
  color: #fff;
  text-decoration: none;
}

.header_main {
  gap: 1rem;
}

.header_main a {
  cursor: pointer;
}

.header_main a span {
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 1rem;
}

.navigation-menu {
  display: flex;
  gap: 3rem;
}

.navigation-menu li {
  list-style-type: none;
  cursor: pointer;
}

.content-wrapper {
  padding-top: 10rem;
}

.main_main {
  width: 60vw;
  height: 90vh;
  border: 0.1px dotted #252525;
  margin: 0 auto;
}
